<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175453864-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175453864-1');
  </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="High quality tutoring for free!">
	  <meta name="keywords" content="Rona Tutoring,free tutoring,rona,coronavirus,corona,rona,covid,COVID-19,tutoring,non-profit,education,free education,ronatutoring.com,ronatutoring">
  	<meta name="robots" content="index,follow"/>
	  <meta name="author" content="Rona Tutoring Team">
	  <meta name="DC.title" content="The Rona Tutoring Project | FREE, high quality tutoring for middle and high schoolers"/>
	  <link rel="icon" type="image/png" href="static/images/logo.png">
    <title>Rona Tutoring - Home</title>
    <link rel="stylesheet" href="static/css/home.css">
    <script src="https://use.fontawesome.com/7275dadcbc.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>
  <body>

    <header>
      <div class="container">
        <div id="branding">
          <h1><a href='home'><img src="static/images/headerlogo.png"/></a><span class="highlight">&nbsp;Rona</span> Tutoring</h1>
        </div>
		<div class="header">
        <nav>
          <ul>
            <li class="current"><a href="home">Home</a></li>
            <li><a href="essay-editing">Essay Editing</a></li>
            <li><a href="resources">Resources</a></li>
            <li><a href="our-team">Our Team</a></li>
            <li><a href="join-us">Join Our Team</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Learn with us!</h1>
        <p style="margin-left:350px; margin-right:350px; padding-bottom: 0px;">Distance learning trouble? Want to get ahead? Just want to freshen up on your learning? Rona Tutoring has you covered with our FREE online one-on-one tutoring. Click the button below to sign up!</p>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2 style="margin-top:10px;padding-left:50px;">275+</h2>
                <p class="title" style="margin-top:0px;margin-left:50px;"><b>Tutees Taught</b></p>
                <p style="margin-right:100px; margin-left:150px; font-size:18px;">Our tutors have collectively taught over 275 students since our founding.</p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <div class="container">
                <h2 style="margin-top:10px;padding-right:0px;padding-left:0px;">7000+</h2>
                <p class="title" style="margin-top:0px;"><b>Sessions Taught</b></p>
                <p style="margin-right:100px; margin-left:100px; font-size:18px;">More than 7000 sessions have been taught by our tutors.</p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <div class="container">
                <h2 style="margin-top:10px;padding-right:50px;">200+</h2>
                <p class="title" style="margin-top:0px;margin-right:50px;"><b>Tutors</b></p>
                <p style="margin-right:150px; margin-left:100px; font-size:18px;">Our program has created a community of over 200 tutors.</p>
              </div>
            </div>
          </div>
        </div>
        <a href="#request"><button class="button button1" style="margin-bottom:50px">Request Tutoring</button></a>
        </div>
    </section>

    <section id="first">
      <div class="container">
        <h1>Why Rona Tutoring?</h1>
        <p>Our teachers are driven, persistent, motivated, and dedicated to making sure that our students learn. We hope by providing these free resources, students can stay
          motivated and on top of their school material, even when they're stuck at home.</p>
           <img src="static/images/logo.png" style="height:200px; margin-top:20px; margin-bottom: 55px;"/>
 
      </div>
    </section>

    <section id="second">
      <div class="container">
        <h1>Our Mission</h1>
        <p>Rona Tutoring was founded in March by three high schoolers trying 
          to make a difference. Our mission is to bridge the learning gap caused
          by community disruptions by providing tutors to those whose learning
          has been affected. We cover any subject from 3rd to 12th grade but we 
          primarily tutor in STEM subjects and English. All for free!</p>
          <img src="static/images/bridge.png" style="height:200px; margin-top:10px; margin-bottom: 25px;"/>
      </div>
    </section>

    <section id="third">
      <div class="container">
        <h1 style="color:black">Qualifications</h1>
        <p>All of our tutors are highly qualified scholars with a deep 
          understanding and knowledge of their respective topics, having
          taken advanced classes such as linear algebra, multivariable calculus, and 
          physics with calculus. <br><br>Our tutors attend institutions such as...</p>
          <p><img src="static/images/MIT.png" style="height:80px;margin-top:0px;margin-right:5px"/><img src="static/images/berkeley2.png" style="height:80px;margin-right:10px"/><img src="static/images/nyu.png" style="height:80px;margin-right:10px"/><img src="static/images/washu.png" style="height:80px;margin-right:10px;"/><img src="static/images/stanford.png" style="height:80px"/><br>
             <img src="static/images/nueva.png" style="height:65px;margin-top:40px;margin-right:25px;margin-bottom:50px;"/><img src="static/images/wisconsin.png" style="height:80px;margin-right:25px;margin-bottom:50px;"/><img src="static/images/dtech.gif" style="height:65px;margin-bottom:50px;"/></p>
      </div>
    </section>

    <section id="fifth">
      <div class="container">
        <div id="request"></div>
        <h1>How It Works</h1>
        <h2>1) Submit a request below! </h2>
        <h2>2) Your request will automatically be sent to our tutoring team. </h2>
        <h2>3) We'll reach out to you when we assign a tutor who suits your needs. </h2>  
	    </div>
    </section>

    <section id="sixth">
      <script type="text/javascript">
        $(document).ready(function () {
            $('#submitForm').click(function() {
              checked = $("input[type=checkbox]:checked").length;
  
              if(!checked) {
                alert("You must check at least one subject to be tutored in.");
                return false;
              }
  
            });
        });
      </script>
      <div class="container">
        <form method="post">

          <h1>Request One-on-One Tutoring</h1>
          <p>
            Our goal is to offer free tutoring to anyone who needs it, especially those 
            who have suffered learning loss due to distance learning. If you're interested 
            in being tutored, fill out this form and we'll contact you as soon as possible! 
          </p>

          <!-- <hr style="width: 100%" /> -->
          <p>__________________________________________________________________</p>

          <br>

          <!--section 2-->

          <label for="studentFullName">Student Full Name:</label><br>
          <input type="text" id="studentFullName" name="studentFullName" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>
          <label for="parentFullName">Parent/Guardian Full Name:</label><br>
          <input type="text" id="parentFullName" name="parentFullName" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>
          <label for="location">City, State, Country:</label><br>
          <input type="text" id="location" name="location" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>

          <!--section 3-->
          <label for="age">Student Age</label><br>
          <input type="number" id="age" name="age" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>
          <label for="grade">Student Grade</label><br>
          <input type="number" id="grade" name="grade" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>

          <label for="studentContact">Student Contact (Email):</label><br>
          <input type="email" id="studentContact" name="studentContact" onkeydown="return event.key != 'Enter';" pattern="\S(.*\S)?"><br><br>
          <label for="parentContact">Parent Contact (Email):</label><br>
          <input type="email" id="parentContact" name="parentContact" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>

          <label for="availability">When are you available?</label><br>
          <input type="text" id="availability" name="availability" onkeydown="return event.key != 'Enter';" required pattern="\S(.*\S)?"><br><br>

          <br>

          <!-- <hr style="width: 100%" /> -->
          <p>__________________________________________________________________</p>

          <br>

          <!--section 4-->
          <p>How did you hear about us?</p>  
          <input type="radio" id="nextdoor" name="marketingSource" value="nextdoor" onkeydown="return event.key != 'Enter';" required>
          <label for="nextdoor">Nextdoor</label><br>
          <input type="radio" id="google" name="marketingSource" value="google" onkeydown="return event.key != 'Enter';">
          <label for="google">Google</label><br>
          <input type="radio" id="instagram" name="marketingSource" value="instagram" onkeydown="return event.key != 'Enter';">
          <label for="instagram">Instagram</label><br>
          <input type="radio" id="friendsnfam" name="marketingSource" value="friendsnfam" onkeydown="return event.key != 'Enter';">
          <label for="friendsnfam">Friends or Family</label><br>
          <input type="radio" id="fromOther" name="marketingSource" value="fromOther" onkeydown="return event.key != 'Enter';">
          <label for="otherWay"> Other </label>
          <input type="text" id="otherWay" name="otherWay" onkeydown="return event.key != 'Enter';"><br><br>

          <!-- <hr style="width: 100%" /> -->
          <p>__________________________________________________________________</p>

          <!--section 5-->
          <p>Subject(s) to be tutored in (as many as you need)</p>
          <input type="checkbox" id="math" name="math" value="math" onkeydown="return event.key != 'Enter';">
          <label for="math">Math</label><br>
          <input type="checkbox" id="science" name="science" value="science" onkeydown="return event.key != 'Enter';">
          <label for="science">Science</label><br>
          <input type="checkbox" id="english" name="english" value="english" onkeydown="return event.key != 'Enter';">
          <label for="english">English</label><br>
          <input type="checkbox" id="history" name="history" value="history" onkeydown="return event.key != 'Enter';">
          <label for="history">History</label><br>
          <input type="checkbox" id="compsci" name="compsci" value="compsci" onkeydown="return event.key != 'Enter';">
          <label for ="compsci">Computer Science (please specify below)</label><br>

          <input type="checkbox" name="wantOther" value="wantOther" onkeydown="return event.key != 'Enter';">
          <label for ="otherSubj"> Other(s) </label>
          <input type="text" name="otherSubj" onkeydown="return event.key != 'Enter';"><br><br>

          <!-- the student specifies which level of the subject(s) they want -->
          <label for="specificClass">Please Specify the Grade / Class:</label><br>
          <textarea id="specificClass" name="specificClass" rows="4" cols="50" required></textarea><br><br>

          <label for="additional">Any additional comments, questions, concerns?</label><br>
          <textarea id="additional" name="additional" rows="4" cols="50"></textarea><br><br>


          <input type="submit" value="Submit Request" id="submitForm">     
          <p></p>
        </form>
      </div>
    </section>



    <section id="footer">
      <div class="container">
        <h2><a href="https://www.instagram.com/ronatutoring/" target="_blank" style="font-size:32px; padding-bottom: 0px;">
        <i class="fa fa-instagram"></i></a>      
        <a href="https://www.linkedin.com/company/rona-tutoring" target="_blank" style="font-size:32px; padding-left:10px; padding-bottom: 0px;">
        <i class="fa fa-linkedin"></i></h2></a>
        <h2 style="font-size:12px;font-weight:normal;">Questions? Email us at ronatutoring@gmail.com. </h2>
       <p>© Rona Tutoring 2020</p>
      </div>
    </section>
  </body>
</html>
