<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175453864-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175453864-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Join the Rona Tutoring team!">
	  <meta name="keywords" content="Rona Tutoring,free tutoring,rona,coronavirus,corona,rona,covid,COVID-19,tutoring,non-profit,education,free education,tutor volunteering,join rona tutoring,volunteer tutoring,internship,tutoring internship,tutoring,tutoring job,tutoring gig">
  	<meta name="robots" content="index,follow"/>
	  <meta name="author" content="The Rona Tutoring Team">
	  <meta name="DC.title" content="The Rona Tutoring Project | FREE, high quality tutoring for middle and high schoolers | Join our team!"/>
	  <link rel="icon" type="image/png" href="static/images/logo.png">
    <title>Rona Tutoring - Join Our Team</title>
    <link rel="stylesheet" href="static/css/join-us.css">
    <script src="https://use.fontawesome.com/7275dadcbc.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><a href='home'><img src="static/images/headerlogo.png"/></a><span class="highlight">&nbsp;Rona</span> Tutoring</h1>
        </div>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="essay-editing">Essay Editing</a></li>
            <li><a href="resources">Resources</a></li>
            <!-- <li><a href="our-team">Our Team</a></li> -->
            <li class="current"><a href="join-us">Join Our Team</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="showcase">
      <div class="container">
        <h1>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSccXZgMSKPuomjzq4KlZJpLmH6ZxVyxRSaCy6gCBqiacbDYLA/viewform?embedded=true" width="100%" height="2750" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </h1>
      </div>
    </section>
  </body>
</html>
