<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175453864-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175453864-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="The Rona Tutoring Team">
	  <meta name="keywords" content="Rona Tutoring,free tutoring,rona,coronavirus,corona,rona,covid,COVID-19,tutoring,non-profit,education,free education,the rona tutoring team">
  	<meta name="robots" content="index,follow"/>
	  <meta name="author" content="The Rona Tutoring Team">
	  <meta name="DC.title" content="The Rona Tutoring Project | FREE, high quality tutoring for middle and high schoolers | Our Team "/>
	  <link rel="icon" type="image/vnd.microsoft.icon" href="static/images/logo.png">
    <title>Rona Tutoring - Our Team</title>
    <link rel="stylesheet" href="static/css/our-team.css">
    <script src="https://use.fontawesome.com/7275dadcbc.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <script>
      var a = '';
      var up = document.getElementById("GFG_P");
      function detec() {
          if (navigator.userAgent.match(/Android/i)
              || navigator.userAgent.match(/webOS/i)
              || navigator.userAgent.match(/iPhone/i)
              || navigator.userAgent.match(/iPad/i)
              || navigator.userAgent.match(/iPod/i)
              || navigator.userAgent.match(/BlackBerry/i)
              || navigator.userAgent.match(/Windows Phone/i)) {
              a = true;
          } else {
              a = false;
          }
          up.innerHTML = a;
      }
  </script>
  
    <header>
      <div class="container">
        <div id="branding">
          <h1><a href='home'><img src="static/images/headerlogo.png"/></a><span class="highlight">&nbsp;Rona</span> Tutoring</h1>
        </div>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="essay-editing">Essay Editing</a></li>
            <li><a href="resources">Resources</a></li>
            <li class="current"><a href="our-team">Our Team</a></li>
            <li><a href="join-us">Join Our Team</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <script>
      let people = ['a', 'b', 'c'];
    </script>

    <div class="team-section">
    <h1 style="margin-top:50px;font-size:55px; font-family:'Shadows Into Light', cursive;">Our Leadership Team</h1>
    <div class="ps"> 
      <img src="static/images/jeremy.jpg" class="avatar">
      <h2>Jeremy Baum</h2>
      <h3>Design Tech High School</h3>
      <p>Founder & Executive Director</p>
    </div>
    <div class="ps"> 
      <img src="static/images/dylan.jpg" class="avatar">
      <h2>Dylan Pratt</h2>
      <h3>Woodside High School</h3>
      <p>Founder & President</p>
    </div>
    <div class="ps"> 
      <img src="static/images/shawhin.jpg" class="avatar">
      <h2>Shawhin Layeghi</h2>
      <h3>Design Tech High School</h3>
      <p>Founder & Director of Education</p>
    </div> 
    <!-- <div class="ps"> 
      <img src="static/images/leo.jpg" class="avatar">
      <h2>Leo Hirano</h2>
      <h3>Design Tech High School</h3>
      <p>Director of Operations</p>
    </div>
     <div class="ps"> 
      <img src="static/images/jordan.jpg" class="avatar">
      <h2>Jordan Cen</h2>
      <h3>Design Tech High School</h3>
      <p>Associate Director of Education</p>
    </div> 
    <div class="ps"> 
      <img src="static/images/ian.jpg" class="avatar">
      <h2>Ian Kwuan</h2>
      <h3>Design Tech High School</h3>
      <p>Head of Education</p>
    </div> -->
    <div class="ps"> 
      <img src="static/images/madison.jpg" class="avatar">
      <h2>Madison Shem</h2>
      <h3>Design Tech High School</h3>
      <p>Director of Media</p>
    </div>

    <div class="ps"> 
      <img src="static/images/edward.jpg" class="avatar">
      <h2>Edward Newell</h2>
      <h3>Woodside High School</h3>
      <p>Associate Director of Operations</p>
    </div>
    <div class="ps"> 
      <img src="static/images/rohan.jpg" class="avatar">
      <h2>Rohan Kumar</h2>
      <h3>Design Tech High School</h3>
      <p>Associate Director of Operations</p>
    </div> 
    <div class="ps"> 
      <img src="static/images/maddie.jpg" class="avatar">
      <h2>Maddie Hsu</h2>
      <h3>Design Tech High School</h3>
      <p>Associate Director of Media</p>
    </div>
    <div class="ps"> 
      <img src="static/images/kawika.jpg" class="avatar">
      <h2>Kawika Tu</h2>
      <h3>Woodside High School</h3>
      <p>Graphic Design & Operations</p>
    </div> 
    <!-- <div class="ps"> 
      <img src="static/images/igor.jpg" class="avatar">
      <h2>Igor Morozov</h2>
      <h3>Design Tech High School</h3>
      <p>Associate Director of Education</p>
    </div> -->
    <!-- <div class="ps"> 
      <img src="static/images/liam.jpg" class="avatar">
      <h2>Liam Drew</h2>
      <h3>The Nueva School</h3>
      <p>Associate Director of Media</p>
    </div> -->

    </div>
  </div>
  </body>
</html>
